@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App{
  min-height: 100vh;
  display: flex;
  background: rgb(238,184,208);
  background: radial-gradient(circle, rgba(238,184,208,1) 0%, rgba(148,179,215,1) 100%);
  background-size: cover;
  background-position: center;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-tumb {
  background: rgba(136, 136, 136, 0.281)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.containers{
  background-color: transparent;
  border: 1px solid black;
}
.containers2{
  background-color: transparent;
}